.env
node_modules/
*.zip
dist/*.vkdb
dist/*.json
build/
.DS_Store
.vscode/
*.old
*.log
*copy.*
* copy *.*
.gitignore
*.spec
coses-per-fer.txt
*.csv
*/*.csv
.claude
docs/*.*
docs/
*.bak
*.tmp
*.swp
*.swo
*.swn